*.pyc
.vscode/

ignore/
dist/
build/
figures/
random/
output_data/
results/

src/xrisalis/models/*
!src/xrisalis/models/arf.fits
!src/xrisalis/models/rmf.fits

*.egg-info/
*.pdf
simulation.py
src/xrisalis/version.py
